In [7]:
import numpy,pandas

pandas.concat\
  ([pandas.DataFrame(numpy.random.randint(4,size=(5,10)))
   ,pandas.DataFrame(numpy.random.randint(4,size=(5,10)))
   ]
).reset_index()

   index  0  1  2  3  4  5  6  7  8  9
0      0  2  0  3  3  2  2  2  3  0  3
1      1  1  3  1  1  3  3  2  3  3  1
2      2  0  2  2  2  2  2  1  1  0  3
3      3  3  3  1  3  3  2  1  0  0  3
4      4  1  3  1  2  0  2  0  2  2  1
5      0  0  3  2  2  2  2  0  2  0  2
6      1  0  1  0  3  3  0  0  2  0  1
7      2  1  2  0  0  3  2  2  3  0  0
8      3  3  3  0  0  0  0  0  3  0  3
9      4  2  3  1  2  3  1  3  1  3  2

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import neighbors
import csv
import json
import os
import pandas as pd
import multiprocessing

ModuleNotFoundError: No module named 'pandas'

In [ ]:
raw_train_data_1 = pd.read_csv('test_dataset.csv')

300000    4
300000    1
Name: service_type, dtype: int64

In [36]:
# Columns (4,5,20,21) have mixed types.是由于\\N 故找出训练集里的\\N
print(raw_train_data[raw_train_data[raw_train_data.columns[4]].isin([r'\N'])].index)
print(raw_train_data[raw_train_data[raw_train_data.columns[5]].isin([r'\N'])].index)
print(raw_train_data[raw_train_data[raw_train_data.columns[20]].isin([r'\N'])].index)
print(raw_train_data[raw_train_data[raw_train_data.columns[21]].isin([r'\N'])].index)
for i in range(26):
    print(raw_train_data[raw_train_data[raw_train_data.columns[i]].isin([r'\N'])].index)

Int64Index([600438, 746969, 751078, 777226, 790581, 821357, 850855, 962596], dtype='int64')
Int64Index([600438, 642033, 777226, 790581, 872915, 937303], dtype='int64')
Int64Index([140569, 232620], dtype='int64')
Int64Index([140569, 232620], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([600438, 746969, 751078, 777226, 790581, 821357, 850855, 962596], dtype='int64')

D:\Python\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Int64Index([600438, 642033, 777226, 790581, 872915, 937303], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([140569, 232620], dtype='int64')
Int64Index([140569, 232620], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [37]:
# 可以直接扔掉训练集里的\\N
print(raw_train_data.shape)
#raw_train_data.drop(raw_train_data.index[[600438,642033,140569,232620]],inplace=True)
raw_train_data.drop(raw_train_data.index[[600438,642033, 746969, 751078, 777226, 790581, 821357, 850855,872915, 937303, 962596,140569, 232620]],inplace=True)
print(raw_train_data.shape)

(1118645, 28)
(1118632, 28)

In [38]:
# 去除重复数据
raw_train_data.drop_duplicates(subset=['online_time','1_total_fee','2_total_fee','3_total_fee','4_total_fee','month_traffic',
                                       'last_month_traffic','local_trafffic_month','local_caller_time','service1_caller_time',
                                       'service2_caller_time'], inplace=True)
print(raw_train_data.shape)

(1062467, 28)

In [39]:
#训练集数据和标签 pandas
raw_x = raw_train_data.iloc[:,0:26].astype(float)
raw_y = raw_train_data.iloc[:,26].astype(int)

#### 特征工程

In [40]:
# 原始类别特征
raw_class_feature = ['service_type', 'complaint_level', 'contract_type', 'gender', 'is_mix_service',
                    'is_promise_low_consume',
                    'many_over_bill', 'net_service']
# 原始数值特征
raw_num_feature = ['1_total_fee', '2_total_fee', '3_total_fee', '4_total_fee',
                    'age', 'contract_time',
                    'former_complaint_fee', 'former_complaint_num',
                    'last_month_traffic', 'local_caller_time', 'local_trafffic_month', 'month_traffic',
                    'online_time', 'pay_num', 'pay_times', 'service1_caller_time', 'service2_caller_time']

In [41]:
# 新增！差值特征
diff_feature_list = ['diff_total_fee_1', 'diff_total_fee_2', 'diff_total_fee_3', 'last_month_traffic_rest',
                     'rest_traffic_ratio',
                     'total_fee_mean', 'total_fee_max', 'total_fee_min', 'total_caller_time', 'service2_caller_ratio',
                     'local_caller_ratio',
                     'total_month_traffic', 'month_traffic_ratio', 'last_month_traffic_ratio', 'pay_num_1_total_fee',
                     '1_total_fee_call_fee', '1_total_fee_call2_fee', '1_total_fee_trfc_fee']

def add_diff_feature(data):
    data['diff_total_fee_1'] = data['1_total_fee'] - data['2_total_fee']
    data['diff_total_fee_2'] = data['2_total_fee'] - data['3_total_fee']
    data['diff_total_fee_3'] = data['3_total_fee'] - data['4_total_fee']

    data['pay_num_1_total_fee'] = data['pay_num'] - data['1_total_fee']

    data['last_month_traffic_rest'] = data['month_traffic'] - data['last_month_traffic']
    data['last_month_traffic_rest'][data['last_month_traffic_rest'] < 0] = 0
    data['rest_traffic_ratio'] = (data['last_month_traffic_rest'] * 15 / 1024) / data['1_total_fee']

    total_fee = []
    for i in range(1, 5):
        total_fee.append(str(i) + '_total_fee')
    data['total_fee_mean'] = data[total_fee].mean(1)
    data['total_fee_max'] = data[total_fee].max(1)
    data['total_fee_min'] = data[total_fee].min(1)

    data['total_caller_time'] = data['service2_caller_time'] + data['service1_caller_time']
    data['service2_caller_ratio'] = data['service2_caller_time'] / data['total_caller_time']
    data['local_caller_ratio'] = data['local_caller_time'] / data['total_caller_time']

    data['total_month_traffic'] = data['local_trafffic_month'] + data['month_traffic']
    data['month_traffic_ratio'] = data['month_traffic'] / data['total_month_traffic']
    data['last_month_traffic_ratio'] = data['last_month_traffic'] / data['total_month_traffic']

    data['1_total_fee_call_fee'] = data['1_total_fee'] - data['service1_caller_time'] * 0.15
    data['1_total_fee_call2_fee'] = data['1_total_fee'] - data['service2_caller_time'] * 0.15
    data['1_total_fee_trfc_fee'] = data['1_total_fee'] - (
    data['month_traffic'] - 2 * data['last_month_traffic']) * 0.3

In [42]:
# 训练集 新增 差值特征：
print(raw_x.shape)
add_diff_feature(raw_x)
print(raw_x.shape)
print(raw_x.columns)
raw_x.head()

(1062467, 26)
(1062467, 44)
Index(['service_type', 'is_mix_service', 'online_time', '1_total_fee',
       '2_total_fee', '3_total_fee', '4_total_fee', 'month_traffic',
       'many_over_bill', 'contract_type', 'contract_time',
       'is_promise_low_consume', 'net_service', 'pay_times', 'pay_num',
       'last_month_traffic', 'local_trafffic_month', 'local_caller_time',
       'service1_caller_time', 'service2_caller_time', 'gender', 'age',
       'complaint_level', 'former_complaint_num', 'former_complaint_fee',
       'is_final', 'diff_total_fee_1', 'diff_total_fee_2', 'diff_total_fee_3',
       'pay_num_1_total_fee', 'last_month_traffic_rest', 'rest_traffic_ratio',
       'total_fee_mean', 'total_fee_max', 'total_fee_min', 'total_caller_time',
       'service2_caller_ratio', 'local_caller_ratio', 'total_month_traffic',
       'month_traffic_ratio', 'last_month_traffic_ratio',
       '1_total_fee_call_fee', '1_total_fee_call2_fee',
       '1_total_fee_trfc_fee'],
      dtype='object')

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,total_fee_min,total_caller_time,service2_caller_ratio,local_caller_ratio,total_month_traffic,month_traffic_ratio,last_month_traffic_ratio,1_total_fee_call_fee,1_total_fee_call2_fee,1_total_fee_trfc_fee
0,4.0,0.0,85.0,295.96,296.20,296.00,296.80,3813.614698,0.0,1.0,...,295.96,564.366667,1.000000,0.191542,5205.653206,0.732591,0.786837,295.9600,211.3050,1609.475590
1,1.0,0.0,10.0,265.20,261.20,208.50,174.50,0.000000,1.0,0.0,...,174.50,355.166667,0.000000,0.676021,62852.509718,0.000000,0.000000,211.9250,265.2000,265.200000
2,1.0,0.0,12.0,44.50,70.20,69.00,61.40,2598.397406,0.0,0.0,...,44.50,98.416667,1.000000,0.281118,4533.639510,0.573137,0.000000,44.5000,29.7375,-735.019222
3,4.0,0.0,134.0,87.95,81.40,76.00,88.30,988.440563,0.0,0.0,...,76.00,196.316667,0.620596,0.457934,1977.001638,0.499970,0.018885,76.7775,69.6750,-186.180314
4,4.0,0.0,84.0,317.04,314.08,435.51,413.05,5885.800642,0.0,1.0,...,314.08,531.833333,0.934002,0.000000,5885.800642,1.000000,0.561647,311.7750,242.5300,534.744484

In [10]:
#Word2Vec特征处理

#读入测试数据
raw_test_data = pd.read_csv('republish_test.csv')
# Columns (4,5) have mixed types.是由于\\N 不能直接扔掉，替换为999
raw_test_data = raw_test_data.replace('\\N', 999)
#划分测试数据和id pandas
raw_test = raw_test_data.iloc[:,0:25].astype(float)
raw_id = raw_test_data.iloc[:,25]

sentence = []
for line in list(raw_x[['1_total_fee', '2_total_fee', '3_total_fee', '4_total_fee']].values):
    sentence.append([str(float(l)) for idx, l in enumerate(line)])
print(len(sentence))

for line in list(raw_test[['1_total_fee', '2_total_fee', '3_total_fee', '4_total_fee']].values):
    sentence.append([str(float(l)) for idx, l in enumerate(line)])
print(len(sentence))
print(sentence[0])

D:\Python\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

697366
897366
['295.96', '296.2', '296.0', '296.8']

In [12]:
from gensim.models import Word2Vec
L = 10
print('training...')
model = Word2Vec(sentence, size=L, window=2, min_count=1, workers=multiprocessing.cpu_count(),
                 iter=10)
print('outputing...')

D:\Python\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

training...
outputing...

In [13]:
def add_w2v_feature(input_x):
    total_df = pd.DataFrame()
    w2v_features = []
    add_features = pd.DataFrame()
    total_features = pd.DataFrame()
    for fea in ['1_total_fee', '2_total_fee', '3_total_fee', '4_total_fee']:
    #for fea in ['1_total_fee']:
        values = []
        for line in list(input_x[fea].values):
            values.append(line)
        values = set(values)
        w2v = []
        for i in values:
            a = [i]
            a.extend(model[str(float(i))])
            w2v.append(a)
        out_df = pd.DataFrame(w2v)

        name = [fea]
        for i in range(L):
            name.append(name[0] + 'W' + str(i))
        out_df.columns = name
    
        out_df = out_df.drop_duplicates([fea])

        add_features = pd.DataFrame(input_x[fea])
        add_features = pd.merge(add_features, out_df, on=fea, how='left')
        del add_features[fea]
        if total_features.empty :
            total_features = add_features
        else :
            total_features = total_features.join(add_features)
        print(len(total_features))
    total_features
    input_x = input_x.join(total_features)
    input_x.head()
    return input_x
    
raw_x = add_w2v_feature(raw_x)

D:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  from ipykernel import kernelapp as app

697366
697366
697366
697366

In [43]:
raw_x.head()

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,total_fee_min,total_caller_time,service2_caller_ratio,local_caller_ratio,total_month_traffic,month_traffic_ratio,last_month_traffic_ratio,1_total_fee_call_fee,1_total_fee_call2_fee,1_total_fee_trfc_fee
0,4.0,0.0,85.0,295.96,296.20,296.00,296.80,3813.614698,0.0,1.0,...,295.96,564.366667,1.000000,0.191542,5205.653206,0.732591,0.786837,295.9600,211.3050,1609.475590
1,1.0,0.0,10.0,265.20,261.20,208.50,174.50,0.000000,1.0,0.0,...,174.50,355.166667,0.000000,0.676021,62852.509718,0.000000,0.000000,211.9250,265.2000,265.200000
2,1.0,0.0,12.0,44.50,70.20,69.00,61.40,2598.397406,0.0,0.0,...,44.50,98.416667,1.000000,0.281118,4533.639510,0.573137,0.000000,44.5000,29.7375,-735.019222
3,4.0,0.0,134.0,87.95,81.40,76.00,88.30,988.440563,0.0,0.0,...,76.00,196.316667,0.620596,0.457934,1977.001638,0.499970,0.018885,76.7775,69.6750,-186.180314
4,4.0,0.0,84.0,317.04,314.08,435.51,413.05,5885.800642,0.0,1.0,...,314.08,531.833333,0.934002,0.000000,5885.800642,1.000000,0.561647,311.7750,242.5300,534.744484

In [70]:
count_feature_list = []
def feature_count(data, features=[]):
    if len(set(features)) != len(features):
        print('equal feature !!!!')
        return data
    new_feature = 'count'
    for i in features:
        new_feature += '_' + i.replace('add_', '')
    temp = data.groupby(features).size().reset_index().rename(columns={0: new_feature})
    data = data.merge(temp, 'left', on=features)
    count_feature_list.append(new_feature)
    if 'service_type' in features:
        temp_2 = train_first.groupby(features).size().reset_index().rename(columns={0: 'train_' + new_feature})
        data = data.merge(temp_2, 'left', on=features)
        count_feature_list.append('train_' + new_feature)
    return data

def add_feature_count(raw_x):
    raw_x = feature_count(raw_x, ['1_total_fee'])
    raw_x = feature_count(raw_x, ['2_total_fee'])
    raw_x = feature_count(raw_x, ['3_total_fee'])
    raw_x = feature_count(raw_x, ['4_total_fee'])

    raw_x = feature_count(raw_x, ['former_complaint_fee'])

    raw_x = feature_count(raw_x, ['pay_num'])
    raw_x = feature_count(raw_x, ['contract_time'])
    raw_x = feature_count(raw_x, ['last_month_traffic'])
    raw_x = feature_count(raw_x, ['online_time'])
    
    #raw_x = feature_count(raw_x, ['contract_type', '1_total_fee'])
    #raw_x = feature_count(raw_x, ['contract_type', '2_total_fee'])
    #raw_x = feature_count(raw_x, ['contract_type', '3_total_fee'])
    #raw_x = feature_count(raw_x, ['contract_type', '4_total_fee'])

    #raw_x = feature_count(raw_x, ['contract_type', 'former_complaint_fee'])

    #raw_x = feature_count(raw_x, ['contract_type', 'pay_num'])
    #raw_x = feature_count(raw_x, ['contract_type', 'contract_time'])
    #raw_x = feature_count(raw_x, ['contract_type', 'last_month_traffic'])
    #raw_x = feature_count(raw_x, ['contract_type', 'online_time'])
    return raw_x
raw_x = add_feature_count(raw_x)

In [33]:
raw_x.head()

,index,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,...,total_fee_min,total_caller_time,service2_caller_ratio,local_caller_ratio,total_month_traffic,month_traffic_ratio,last_month_traffic_ratio,1_total_fee_call_fee,1_total_fee_call2_fee,1_total_fee_trfc_fee
0,0.0,4.0,0.0,85.0,295.96,296.20,296.00,296.80,3813.614698,0.0,...,295.96,564.366667,1.000000,0.191542,5205.653206,0.732591,0.786837,295.9600,211.3050,1609.475590
1,1.0,1.0,0.0,10.0,265.20,261.20,208.50,174.50,0.000000,1.0,...,174.50,355.166667,0.000000,0.676021,62852.509718,0.000000,0.000000,211.9250,265.2000,265.200000
2,2.0,1.0,0.0,12.0,44.50,70.20,69.00,61.40,2598.397406,0.0,...,44.50,98.416667,1.000000,0.281118,4533.639510,0.573137,0.000000,44.5000,29.7375,-735.019222
3,3.0,4.0,0.0,134.0,87.95,81.40,76.00,88.30,988.440563,0.0,...,76.00,196.316667,0.620596,0.457934,1977.001638,0.499970,0.018885,76.7775,69.6750,-186.180314
4,4.0,4.0,0.0,84.0,317.04,314.08,435.51,413.05,5885.800642,0.0,...,314.08,531.833333,0.934002,0.000000,5885.800642,1.000000,0.561647,311.7750,242.5300,534.744484

In [44]:
#训练集数据和标签 从pandas到numpy array
x = np.array(raw_x,dtype=np.float64)
y = np.array(raw_y,dtype=np.int64)

In [45]:
num_features = len(raw_x.columns)
print(num_features)

44

In [46]:
x[4]

array([ 4.00000000e+00,  0.00000000e+00,  8.40000000e+01,  3.17040000e+02,
        3.14080000e+02,  4.35510000e+02,  4.13050000e+02,  5.88580064e+03,
        0.00000000e+00,  1.00000000e+00,  2.40000000e+01,  0.00000000e+00,
        4.00000000e+00,  1.20000000e+01,  1.00003000e+03,  3.30574113e+03,
        0.00000000e+00,  0.00000000e+00,  3.51000000e+01,  4.96733333e+02,
        1.00000000e+00,  3.10000000e+01,  2.00000000e+00,  1.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  2.96000000e+00, -1.21430000e+02,
        2.24600000e+01,  6.82990000e+02,  2.58005951e+03,  1.19208430e-01,
        3.69920000e+02,  4.35510000e+02,  3.14080000e+02,  5.31833333e+02,
        9.34001880e-01,  0.00000000e+00,  5.88580064e+03,  1.00000000e+00,
        5.61646805e-01,  3.11775000e+02,  2.42530000e+02,  5.34744484e+02])

In [47]:
#筛选出service_type==1的训练数据
x_1 = x[np.where(x[:,0]==1)]
x_1 = x_1[:,1:num_features]
y_1 = y[np.where(x[:,0]==1)]
#筛选出service_type==4的训练数据
x_4 = x[np.where(x[:,0]==4)]
x_4 = x_4[:,1:num_features]
y_4 = y[np.where(x[:,0]==4)]

print('type=1 标签分布情况：')
print(pd.value_counts(y_1))
print('type=4 标签分布情况：')
print(pd.value_counts(y_4))

type=1 标签分布情况：
90063345    491372
90109916     54983
90155946     33798
dtype: int64
type=4 标签分布情况：
89950166    147953
89950167    104418
99999828     64486
89950168     38323
99999827     37417
99999826     35025
99999830     30826
99999825     23830
dtype: int64

In [48]:
#划分出训练集和验证集
from sklearn.model_selection import train_test_split
x_train_1, x_validation_1, y_train_1, y_validation_1 = train_test_split(x_1, y_1, test_size=0.10, random_state=6)
x_train_4, x_validation_4, y_train_4, y_validation_4 = train_test_split(x_4, y_4, test_size=0.10, random_state=6)

#### 处理测试数据

In [55]:
#读入测试数据
raw_test_data = pd.read_csv('republish_test.csv')

D:\Python\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
# Columns (4,5) have mixed types.是由于\\N 不能直接扔掉，替换为999
raw_test_data = raw_test_data.replace('\\N', 999)

In [57]:
#划分测试数据和id pandas
raw_test = raw_test_data.iloc[:,0:25].astype(float)
raw_id = raw_test_data.iloc[:,25]

In [28]:
# 测试集 新增 差值特征：
print(raw_test.shape)
add_diff_feature(raw_test)
add_w2v_feature(raw_test)
print(raw_test.shape)
print(raw_test.columns)
raw_test.head()

(200000, 43)

D:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  from ipykernel import kernelapp as app

KeyError: "word '383.31' not in vocabulary"

In [58]:
raw_test['is_final'] = 0
is_final = raw_test.pop('is_final')
raw_test.insert(25,'is_final',is_final)

add_diff_feature(raw_test)
raw_test.head()

D:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,total_fee_min,total_caller_time,service2_caller_ratio,local_caller_ratio,total_month_traffic,month_traffic_ratio,last_month_traffic_ratio,1_total_fee_call_fee,1_total_fee_call2_fee,1_total_fee_trfc_fee
0,1.0,0.0,18.0,50.4,108.2,118.9,177.7,300.0,1.0,0.0,...,50.4,37.783333,0.0,1.000000,2939.084859,0.102073,0.0,44.7325,50.4,-39.6
1,1.0,0.0,16.0,84.4,78.2,56.9,80.4,0.0,1.0,0.0,...,56.9,41.833333,0.0,0.123904,39155.458728,0.000000,0.0,78.1250,84.4,84.4
2,1.0,0.0,9.0,80.5,75.6,74.3,93.4,0.0,1.0,0.0,...,74.3,67.666667,0.0,0.943842,48755.950069,0.000000,0.0,70.3500,80.5,80.5
3,1.0,0.0,15.0,69.3,63.8,50.2,62.2,0.0,1.0,0.0,...,50.2,11.483333,0.0,0.500726,0.000000,NaN,NaN,67.5775,69.3,69.3
4,1.0,0.0,18.0,37.3,33.2,19.8,19.5,0.0,1.0,0.0,...,19.5,4.383333,0.0,0.923954,5257.352050,0.000000,0.0,36.6425,37.3,37.3

In [20]:
raw_test = add_w2v_feature(raw_test)
raw_test.head()

D:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  from ipykernel import kernelapp as app

200000
200000
200000
200000

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,4_total_feeW0,4_total_feeW1,4_total_feeW2,4_total_feeW3,4_total_feeW4,4_total_feeW5,4_total_feeW6,4_total_feeW7,4_total_feeW8,4_total_feeW9
0,1.0,0.0,18.0,50.4,108.2,118.9,177.7,300.0,1.0,0.0,...,-0.218862,-0.314282,-0.205490,-1.576776,-0.783220,0.957503,0.879186,-0.100822,-2.191919,-1.484912
1,1.0,0.0,16.0,84.4,78.2,56.9,80.4,0.0,1.0,0.0,...,0.753076,-0.847917,-2.803092,-2.508464,-1.753684,0.465635,1.978619,-1.124180,1.288662,0.489146
2,1.0,0.0,9.0,80.5,75.6,74.3,93.4,0.0,1.0,0.0,...,0.836588,-0.219469,-3.156484,-1.951655,-2.404257,0.593454,1.551570,-0.349830,0.240193,-0.193000
3,1.0,0.0,15.0,69.3,63.8,50.2,62.2,0.0,1.0,0.0,...,1.747039,-0.594882,-2.492915,-3.285303,-1.161983,-0.746888,2.036673,-2.073806,1.331888,1.467112
4,1.0,0.0,18.0,37.3,33.2,19.8,19.5,0.0,1.0,0.0,...,1.839313,-2.742340,0.519245,-0.539645,-3.445933,1.072672,2.856521,-1.826846,1.955586,3.068541

In [80]:
raw_test = add_feature_count(raw_test)
raw_test.head()

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,1_total_fee_trfc_fee,count_1_total_fee,count_2_total_fee,count_3_total_fee,count_4_total_fee,count_former_complaint_fee,count_pay_num,count_contract_time,count_last_month_traffic,count_online_time
0,1.0,0.0,18.0,50.4,108.2,118.9,177.7,300.0,1.0,0.0,...,-39.6,247,52,17,13,196199,14252,147221,156073,12017
1,1.0,0.0,16.0,84.4,78.2,56.9,80.4,0.0,1.0,0.0,...,84.4,143,136,209,89,196199,4978,147221,156073,8074
2,1.0,0.0,9.0,80.5,75.6,74.3,93.4,0.0,1.0,0.0,...,80.5,181,133,110,69,196199,4209,147221,156073,11339
3,1.0,0.0,15.0,69.3,63.8,50.2,62.2,0.0,1.0,0.0,...,69.3,186,199,257,201,196199,14252,147221,156073,8262
4,1.0,0.0,18.0,37.3,33.2,19.8,19.5,0.0,1.0,0.0,...,37.3,154,80,78,59,196199,6104,147221,156073,12017

In [59]:
x_test = np.array(raw_test,dtype=np.float64)
id_test = np.array(raw_id)

#### 输出到文件

In [60]:
#输出到文件
data_dir = 'preprocessed_add_diff'
if not os.path.exists(data_dir):
    os.mkdir(data_dir)

np.save(os.path.join(data_dir,'x_train_1.npy'),x_train_1)
np.save(os.path.join(data_dir,'x_validation_1.npy'),x_validation_1)
np.save(os.path.join(data_dir,'y_train_1.npy'),y_train_1)
np.save(os.path.join(data_dir,'y_validation_1.npy'),y_validation_1)

np.save(os.path.join(data_dir,'x_train_4.npy'),x_train_4)
np.save(os.path.join(data_dir,'x_validation_4.npy'),x_validation_4)
np.save(os.path.join(data_dir,'y_train_4.npy'),y_train_4)
np.save(os.path.join(data_dir,'y_validation_4.npy'),y_validation_4)

np.save(os.path.join(data_dir,'x_test.npy'),x_test)
np.save(os.path.join(data_dir,'id_test.npy'),id_test)

In [19]:
#从文件load到numpy array
data_dir = 'preprocessed_add_diff'
#读入service_type==1的训练数据
x_train_1 = np.load(os.path.join(data_dir,'x_train_1.npy'))
x_validation_1 = np.load(os.path.join(data_dir,'x_validation_1.npy'))
y_train_1 = np.load(os.path.join(data_dir,'y_train_1.npy'))
y_validation_1 = np.load(os.path.join(data_dir,'y_validation_1.npy'))
#读入service_type==4的训练数据
x_train_4 = np.load(os.path.join(data_dir,'x_train_4.npy'))
x_validation_4 = np.load(os.path.join(data_dir,'x_validation_4.npy'))
y_train_4 = np.load(os.path.join(data_dir,'y_train_4.npy'))
y_validation_4 = np.load(os.path.join(data_dir,'y_validation_4.npy'))
#读入测试数据
x_test = np.load(os.path.join(data_dir,'x_test.npy'))
id_test = np.load(os.path.join(data_dir,'id_test.npy'))

print(x_train_1[0])
print(x_test[0])
print(id_test[0])

[ 0.00000000e+00  9.00000000e+00  6.62000000e+01  8.45000000e+01
  5.55000000e+01  6.41000000e+01  0.00000000e+00  1.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  4.00000000e+00
  1.00000000e+00  3.00000000e+01  0.00000000e+00  3.67536019e+03
  8.29000000e+01  1.03550000e+02  1.63333333e+01  1.00000000e+00
  2.60000000e+01  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -1.83000000e+01  2.90000000e+01 -8.60000000e+00 -3.62000000e+01
  0.00000000e+00  0.00000000e+00  6.75750000e+01  8.45000000e+01
  5.55000000e+01  1.19883333e+02  1.36243570e-01  6.91505630e-01
  3.67536019e+03  0.00000000e+00  0.00000000e+00  5.06675000e+01
  6.37500000e+01  6.62000000e+01]
[ 1.00000000e+00  0.00000000e+00  1.80000000e+01  5.04000000e+01
  1.08200000e+02  1.18900000e+02  1.77700000e+02  3.00000000e+02
  1.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  4.00000000e+00  2.00000000e+00  6.00000000e+01  0.00000000e+00
  2.63908486e+03  3.77833333e+01  3.77833333e+01  0.00000000e+00
  1.00000000e+00  1.90000000e+01  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -5.78000000e+01 -1.07000000e+01 -5.88000000e+01
  9.60000000e+00  3.00000000e+02  8.71930804e-02  1.13800000e+02
  1.77700000e+02  5.04000000e+01  3.77833333e+01  0.00000000e+00
  1.00000000e+00  2.93908486e+03  1.02072589e-01  0.00000000e+00
  4.47325000e+01  5.04000000e+01 -3.96000000e+01]
012pSke7DsCrR985